body {
    margin: 0
}

div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: black
}

span {
    font-size: large;
    font-style: italic
}

#description {
    position: absolute;
    width: 420px;
    margin: -1% 0;
    padding-bottom: 12px;
    background-color: #FFFFFF;
    margin-left: 30px
}